
body {
  background-image: url('assets/Background-GirlBee.png');
  background-repeat: no-repeat;          
  background-size: cover;                 
  background-position: center;                
  height: 100vh;     
  margin: 0;             
}
.cadastro{
    background-color: rgba(0, 0, 0, 0.762);
    margin-top: 40px;
    border-radius: 5%;
}

.teste{
  width: 33%;
  margin:auto;
  align-items: center;
  text-align: center;
}

.position{
  padding-top: 30%;
}

.button-cadastro{
    text-align: center; 
    height: 2.5rem;
    align-items: center;
    border-radius: 50px;
}

.button-cadastro{
    font-size: 16px ;
    width: 40%;
    padding: 1%;
    margin: 2rem auto;
}

    .check-group {
      display: flex;
      flex-direction: column;
      gap: 30px;
      max-width: 80%;
      margin: auto;
    }

    .check-button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px 20px;
      border-radius: 100px;
      background-color: white;
      cursor: pointer;
      transition: border-color 0.3s;
    }

    .check-button:hover {
      border-color: #888;
    }

    .check-button .circle {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #ccc;
      transition: background-color 0.3s;
      border: #353535 solid 3px;
    }

    .check-button.active {
      border-color: #4CAF50;
    }

    .check-button.active .circle {
      background-color: #4ddc52;
    }

    .p-center{
    color: white;
    text-align: center;
    margin:0%;
  }
  .login-divisor{
    color: white;
    width: 60%;
    margin:none;
  }

  .arrow{
    width: 30px;
  }

  /* Telas médias */
@media (max-width: 900px) {
.teste{
  width: 90%;
  height: 60%;
  margin:auto;
  align-items: center;
  text-align: center;
}
}

/* Telas pequenas */
@media (max-width: 480px) {

.teste{
  width: 90%;
  height: 60%;
  margin:auto;
  align-items: center;
  text-align: center;
}

.cadastro{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.762);
    margin-top: 40px;
    border-radius: 5%;
}
}